<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.pde.ui.MainPreferencePage"
            class="cl.plugin.consistency.preferences.PluginConsistencyPreferencePage"
            id="cl.plugin.consistency.preferences.PluginConsistencyPreferencePage"
            name="Plugin Consistency">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="cl.plugin.consistency.Startup">
      </startup>
   </extension>
   <extension
         id="cl.plugin.consistency.marker"
         name="Plugin Consistency Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Plugin consistency commands"
            id="cl.plugin_consistency.commands"
            name="Plugin consistency commands">
      </category>
      <command
            categoryId="cl.plugin_consistency.commands"
            defaultHandler="cl.plugin.consistency.handlers.LaunchCheckConsistencyHandler"
            description="Launch check consistency"
            id="cl.plugin_consistency.launch_check_consistency.command"
            name="Launch check consistency">
      </command>
      <command
            categoryId="cl.plugin_consistency.commands"
            defaultHandler="cl.plugin.consistency.handlers.RemoveAllCheckConsistencyHandler"
            description="Remove all check consistency"
            id="cl.plugin_consistency.remove_all_check_consistency.command"
            name="Remove all check consistency">
      </command>
      <command
            categoryId="cl.plugin_consistency.commands"
            defaultHandler="cl.plugin.consistency.handlers.OpenPreferenceHandler"
            description="Open preference for plugin consistency"
            id="cl.plugin_consistency.open_preference.command"
            name="Open preference">
      </command>
   </extension>
   <extension
         id="cl.plugin.consistency.menus"
         name="Plugin consistency menus"
         point="org.eclipse.ui.menus">
     <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        <toolbar
               id="cl.plugin.consistency.toolbar"
               label="Plugin consistency toolbar">
           <command
                 commandId="cl.plugin_consistency.launch_check_consistency.command"
                 icon="icons/launch_check_consistency.png"
                 id="cl.plugin_consistency.check_consistency.pulldown.command"
                 style="pulldown"
                 tooltip="Launch check consistency">
           </command>
        </toolbar>
     </menuContribution>
     <menuContribution locationURI="menu:cl.plugin_consistency.check_consistency.pulldown.command">
        <command commandId="cl.plugin_consistency.launch_check_consistency.command" 
                 icon="icons/launch_check_consistency.png" 
                 label="Launch consistency check" 
                 style="push">
        </command>
        <command commandId="cl.plugin_consistency.remove_all_check_consistency.command" 
        		 icon="icons/remove_all_check_consistency.png" 
        		 label="Remove all consistencies check" 
        		 style="push">
        </command>
        <command
              commandId="cl.plugin_consistency.open_preference.command"
              icon="icons/preference.png"
              label="Open preference"
              style="push">
        </command>
     </menuContribution>
  </extension>
  
</plugin>
